*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../imgs/index.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: #222;
  background-repeat: no-repeat; /* No repite el fondo */
}

.fa-search {
  color: #222222 !important;
}

/* Cont */

@media (min-width: 650px) { /* Desktop */

  .body { /* Body Index no log */
    position: relative;
    text-align: center;
  }

  .lib-nolog { /* Body Library no log */
    position: relative;
    text-align: center;
  }

  h1 {
    font-family: 'Josefin Sans';
    font-size: 50px;
    margin-bottom: -1%;
    color: white;
    margin-top: 12%;
  }

  h4 {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 3%;
    color: white;
  }

  .join {
    transition: background-color 1s ease-in-out;
    background-color: #ff3b6e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    border-radius: 50px;
  }

  .join:hover {
    background-color: #dc315c;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 650px) { /* Mobile */

  html { height: 125% } /* Soluciona el bug del background scroll en chrome mobile */

  body {
    background-position: center;
  }

  .body {
    position: relative;
    transform: translate(0%, 30%);
    text-align: center;
  }

  .lib-nolog {
    position: relative;
    transform: translate(0%, 30%);
    text-align: center;
  }

  h1 {
    font-family: 'Josefin Sans';
    font-size: 50px;
    margin-bottom: 3%;
    color: white;
  }

  h4 {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 12%;
    color: white;
  }

  .h4-libnolog {
    padding: 0 15%;
  }

  .join {
    transition: background-color 1s ease-in-out;
    background-color: #f03465;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    border: 0;
    text-transform: uppercase;
    height: 40px;
    width: 200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    border-radius: 50px;
  }

}

/* Header */

.container {
  z-index: 999;
  height: 60px;
  background-color: #f03465;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding-right: 2%;
  position: fixed;
  width: 100%;
  top: 0;
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo a img {
  max-width: 100%;
  max-height: 60px;
}

.container .navbar { /* Oculta el menu en mobile cuando se aprieta el boton con las 3 rayitas */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0px;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a  {
  text-decoration: none;
  color: #e2e2e2;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
}

.sign-in {
  position: absolute;
  right: 0.7%;
  font-weight: bolder;
}

.container .navbar ul .close { /* Posiciona la 'X' en mobile a la derecha, en desktop la oculta */
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span { /* Agranda la 'X' */
  font-size: 40px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.container .navbar .icon-bar {
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.fa-bars, .fa-user { /* User & Bars Icon: color */
  color: white;
  cursor: pointer;
}

.fa-times { /* Cross Icon: color */
  color: black;
  cursor: pointer;
}

@media (min-width: 650px) { /* Sign In: desktop */
  .icon-user {
    display: none;
  }

  .container .navbar ul li a:hover { /* Hover en elemento de nav (mobile & desktop)*/
    color: #ffffff;
    transition: 0.3s;
  }

}

@media only screen and (max-width: 650px) {
    html { height: 100% } /* Soluciona el bug del background scroll en chrome mobile */

    .icon-user { /* User Icon: mobile */
    position: relative;
    top: 15px;
    right: 9px;
    font-size: 15px;
  }

  .sign-in {
    display: none;
  }

  .icon-bar {
    position: relative;
    top: 15px;
    right: -2px;
  }

  .container { /* Posiciona a la derecha las 3 rayitas */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    padding-right: 0%;
  }

  .container .navbar {  /* Posiciona a la derecha las 3 rayitas */
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: none;
  }

  .logo {
    display: flex;
    left: 0;
    position: absolute;
  }

  .container .navbar ul { /* Muestra el logo en mobile, posiciona a la derecha las 3 rayitas */
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container .navbar ul li a { /* Estilos para el nav que se muestra cuando se aprietan las 3 rayitas*/
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container .navbar ul li a {
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
  }

  .container .navbar ul li a:hover { /* Hover en elemento de nav (mobile & desktop)*/
    color: #ffffff;
    background-color: rgb(240, 52, 101);
    transition: 0.3s;
  }

  .container .navbar ul .close { /* Estilos para el nav que se muestra cuando se aprietan las 3 rayitas*/
    display: block;
  }

  .container .navbar .icon-bar { /* Oculta el nav cuando se aprietan las 3 rayitas */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show { /* Desplaza el mobile menu hacia la izquierda*/
    left: 0;
  }

  .body {
    padding-top: 2%;
    padding-left:3%;
    padding-right: 1%;

  }
}

.fa-heart {
  display: none !important;
}
